
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    background-color: #1E1C21;
    height: 80px;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
}

.container_header{
    display: flex;
    /* justify-content: flex-start; */
    height: 100%;
    align-items: center;
}

.logo img{
    width: 300px;
}

.nav_header{
    display: flex;
    justify-content: space-between;
    width: 861px;
    height: 100%;
    align-items: center;
    margin-left: 15%;
}

.nav_header a{
    font-size: 1.2em;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
}

.container_banner{
    background-image: url(../assets_/imagem_banner2.png);
    background-repeat: no-repeat;
    margin-top: 80px;
    height: 600px;
}

.conteudo_banner{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding-top: 150px;
    justify-content: flex-end;
    margin-left: 54%;
    width: 600px;
}

.conteudo_banner h1{
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    font-size: 3.7em;
    padding-bottom: 30px;   
}

.conteudo_banner span{
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    padding-bottom: 30px;
}

.conteudo_banner a{
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    text-decoration: none;
    width: 300px;
    height: 70px;
    background-color: #270F6A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 27%;
    color: white;
    margin-top: 10px;

}

.nav_parceiros{
    background-color: black;
    height: 160px;
}

.link_parceiros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.informacoes{
    background-image: url(../assets_/fundo-informações.png);
    height: 673px;
}

.figura_informacoes{
    background-color: black;
    clip-path: polygon(0 15%, 100% 4%, 100% 85%, 0 97%);
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
}

.texto_informativo{
    display: flex;
    height: 350px;
    /* width: 300px; */
    flex-direction: column;
    margin-left: 10%;
    margin-top: 55px;
}

.texto_informativo h2{
    color: white;
    font-size: 2em;
    text-transform: capitalize;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    text-align: left;
}

.texto_informativo p{
    color: white;
    font-size: 1.3em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    width: 500px;
    margin-top: 25px;
    text-align: left;
}

.figura_informacoes img{
    position: relative;
    width: 60%;
    height: 75%;
    margin-left: 5%;
}

